/coverage
/node_modules

# output
dist
@out
.next
.next-*
cdk.out
.idea

# yarn zero install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
#!.yarn/unplugged
#!.yarn/unplugged/**/*/dist
